<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a href="https://github.com/knoll3">Kyle</a>, an aspiring web developer who wants to create web applications that allow people to work from home and fulfill their dreams.
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <br />
      <h2 class="text-center">Kyle Noll</h2>
      <br />
      <p>
        Kyle Noll is bald. Although you might not think it, he also has a beard, even though the photo doesn't show that. He lives in a 350 sq ft RV with his wife and 3 children, all under the age of 5. Feel free to call him insane.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
